.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Zentriert Inhalte vertikal */
    padding: 20px; /* Fügt etwas Abstand zu den Rändern hinzu */
}

.logo {
    /* Hier kannst du weitere Stile für dein Logo hinzufügen */
}

.navigation {
    /* Hier kannst du weitere Stile für deine Navigation hinzufügen */
}

.btn-primary {
    /* Hier kannst du den Stil deiner Schaltfläche anpassen */
}